@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Unica+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.2;
}

body.no_scroll {
  overflow: hidden;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}
p {
  line-height: 27.5px;
}
section {
  padding: 50px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
}

// utility

.splide__arrow {
  background: #000 !important;
  width: 48px !important;
  height: 48px !important;
  color: white !important;
}
.splide__arrow svg {
  fill: #fff !important;
  height: 1.2em;
  width: 1.2em;
}
.q-btn {
  min-height: auto;
}

img {
  width: 100%;
  object-fit: contain;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
}
.grid.alt .left {
  order: 2;
}
.grid.alt .right {
  order: 1;
}

.input_wrap {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.input_wrap input {
  border: none;
  background: transparent;
}
.input_wrap input:focus {
  outline: none;
}

.input_wrap {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px 15px;
}

// typography

.nav_link {
  color: #000;
  font-size: 14px;
  // font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: normal;
}

.logo {
  color: #000;
  font-family: Inter;
  font-size: 25px;
  // font-size: 30px;

  font-weight: 700;
  line-height: normal;
}
.header.white .nav_link,
.header .logo {
  color: #fff;
}
.maintext {
  color: #000;
  font-family: Inter;
  // font-size: 40px;
  font-size: 30px;

  font-weight: 700;
  line-height: normal;
}

.card_details .maintext {
  font-size: 18px;
}
.maintext.slim {
  font-weight: 600;
}

.subtext {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}
address {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.card_small_text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
}
.card_small_text.location {
  font-size: 13px;
}
.section_small_text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
.section_subtext {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}
.section_subtext.view_big {
  color: #00f;
  text-decoration-line: underline;
}

.section_paragraph {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.card_small_text.view_small {
  font-size: 13px;
  color: #00f;
  text-decoration-line: underline;
}

.small_text {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.hero_main {
  color: #fff;
  font-size: 43px;
  font-weight: 700;
  line-height: normal;
}

.invest {
  display: flex;
  gap: 1rem;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;

  i {
    color: #0c07ff;
  }
}

// btns
.q-btn {
  min-height: auto;
}
.q-btn .q-focus-helper {
  background: none !important;
  opacity: 0 !important;
}
.btn {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  transition: all 0.5s ease-in-out;
}
.btn.outline {
  border-radius: 5px;
  border: 1px solid #000;
  padding: 10px;
}

.btn:hover {
  border-radius: 4px;
  border: 2px solid white;
  padding: 1rem;
  width: 172px;
  height: 53px;
  color: black;
  background: none;
}
.header {
  position: absolute;
  width: 100%;
  z-index: 2;
}
// hero

.hero {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url("../assets/hero.png") no-repeat center center/cover;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .container {
    position: relative;
    z-index: 3;
    height: 50%;
  }
  .section_paragraph {
    color: white;
    margin-top: 1rem;
  }
}

.hero .invest {
  position: absolute;
  left: 50%;
  bottom: -40%;
  transform: translateX(-50%);
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.hero form {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 100%;
}
.hero form input {
  width: 100%;
}

.hero .looking_for {
  margin-top: 2rem;
  padding: 10px 20px 13px 20px;
  border-radius: 10px;
  background: #f1f1f1;
}

.hero .small_text {
  white-space: nowrap;
  i {
    margin-right: 1rem;
  }
}
// card

// .card {
//   padding: 0.5rem;
// }
.card.carousel {
  border-radius: 0px 0px 5px 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  background: #fff;
  max-width: 354px;
}
.card.carousel div:nth-child(2) {
  padding: 0.5rem;
}

.card_details > div {
  margin: 1rem 0;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.card_details > div:nth-child(4),
.card_details > div:nth-child(5) {
  border-bottom: none;
}

// why

.why li {
  padding: 15px 10px 15px 38px;
  background: #000;
  margin: 1rem;
  color: white;
}

// services

.services .grid {
  margin-top: 3rem;
}
.services .grid > div {
  position: relative;
}
.services .grid > div:nth-child(2) {
  margin-top: 5rem;
}
.services .grid > div:nth-child(4) {
  margin-top: 5rem;
}
.services .grid > div img:last-of-type {
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 38px;
  height: 38px;
}
