@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Unica+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.2;
}

body.no_scroll {
  overflow: hidden;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}
p {
  line-height: 27.5px;
}
section {
  padding: 100px 0 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
}

// utility
.q-page-container.padd {
  padding-top: 6rem;
}

.card {
  margin: 3rem 0;

  &:first-child {
    margin-top: 0;
  }
}
.splide__arrow {
  background: #000 !important;
  width: 48px !important;
  height: 48px !important;
  color: white !important;
}
.splide__arrow svg {
  fill: #fff !important;
  height: 1.2em;
  width: 1.2em;
}
.q-btn {
  min-height: auto;
}

img {
  width: 100%;
  object-fit: contain;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
}
.grid.alt .left {
  order: 2;
}
.grid.alt .right {
  order: 1;
}

.input_wrap {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.modal .input_wrap {
  margin: 1rem 0;
  padding: 1rem;
  background: white;
  width: 100%;
}
.input_wrap input {
  border: none;
  background: transparent;
}
.input_wrap input:focus {
  outline: none;
}

.input_wrap {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
}
::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
}
.bg {
  background: rgba(217, 217, 217, 0.5);
}
// typography

.nav_link {
  color: #000;
  font-size: 14px;
  // font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: normal;
}

.logo {
  color: #000;
  font-family: Inter;
  font-size: 25px;
  // font-size: 30px;
  font-weight: 700;
  line-height: normal;
}
.header.white .nav_link,
.header .logo {
  color: #fff;
}
.maintext {
  color: #000;
  font-family: Inter;
  // font-size: 40px;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
}

.card_details .maintext {
  font-size: 18px;
}
.maintext.slim {
  font-weight: 600;
}

.subtext {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}
address {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.card_small_text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
}
.card_small_text.location {
  font-size: 13px;
}
.section_small_text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
.section_subtext {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}
.section_subtext.view_big {
  color: #00f;
  text-decoration-line: underline;
}

.section_paragraph {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.card_small_text.view_small {
  font-size: 13px;
  color: #00f;
  text-decoration-line: underline;
}

.small_text {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.small_text.smaller {
  font-size: 15px;
}

.hero_main {
  color: #fff;
  font-size: 43px;
  font-weight: 700;
  line-height: normal;
}

.invest {
  display: flex;
  gap: 1rem;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;

  i {
    color: #0c07ff;
  }
}

// btns
.q-btn {
  min-height: auto;
}
.q-btn .q-focus-helper {
  background: none !important;
  opacity: 0 !important;
}
.btn {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 0.5rem 1rem;
  line-height: normal;
  transition: all 0.5s ease-in-out;
}
.btn.outline {
  border-radius: 5px;
  border: 1px solid #000;
}

.btn:hover {
  border-radius: 4px;
  border: 2px solid white;
}
.header {
  position: absolute;
  width: 100%;
  z-index: 2;
}
// hero

.hero {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url("../assets/hero.png") no-repeat center center/cover;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .container {
    position: relative;
    z-index: 3;
    height: 50%;
  }
  .section_paragraph {
    color: white;
    margin-top: 1rem;
  }
}

.hero .invest {
  position: absolute;
  left: 50%;
  bottom: -40%;
  transform: translateX(-50%);
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.hero form {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 100%;
}
.hero form input {
  width: 100%;
}

.hero .looking_for {
  margin-top: 2rem;
  padding: 10px 20px 13px 20px;
  border-radius: 10px;
  background: #f1f1f1;
}

.hero .small_text {
  white-space: nowrap;
  i {
    margin-right: 1rem;
  }
}
// card

// .card {
//   padding: 0.5rem;
// }
.card.carousel {
  border-radius: 0px 0px 5px 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  background: #fff;
  max-width: 354px;
}
.card.carousel div:nth-child(2) {
  padding: 0.5rem;
}

.card_details > div {
  margin: 1rem 0;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.card_details > div:nth-child(4),
.card_details > div:nth-child(5) {
  border-bottom: none;
}

// why

.why li {
  padding: 15px 10px 15px 38px;
  background: #000;
  margin: 1rem;
  color: white;
}

// services

.services .grid {
  margin-top: 3rem;
}
.services .grid > div {
  position: relative;
}
.services .grid > div:nth-child(2) {
  margin-top: 5rem;
}
.services .grid > div:nth-child(4) {
  margin-top: 5rem;
}
.services .grid > div img:last-of-type {
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 38px;
  height: 38px;
}

.bg > div {
  margin: 1rem 0;
}
.service_list {
  max-width: 80%;
}
.service_list_item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 0.4rem;
  margin: 1rem 0;
}

.q-btn.book_service {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  margin-left: 1rem;
  position: relative;
}
.q-btn.book_service::before {
  width: 12px;
  height: 12px;
  background: #d9d9d9;
  stroke-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.service_list > div.head {
  width: 90%;
}

.rating_box {
  border-radius: 5px;
  border: 0.5px solid #000;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.rating_box > div {
  padding: 0.5rem;
  flex: 1;
}
.rating_box > div:nth-child(2) > div {
  margin: 1rem 0;
}

.rating_box::before {
  content: "";
  position: absolute;
  background: black;
  width: 1px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.switch {
  display: flex;
  gap: 2rem;
}
.switch .q-btn {
  color: rgba(255, 255, 255, 0.5);
}
.switch .q-btn.active {
  color: #fff;
  border-bottom: 4px solid white;
}

.q-card {
  .subtext,
  .card_small_text {
    color: white;
  }

  .service_list {
    color: white;
    max-width: 100%;

    .text-secondary,
    .section_subtext,
    .small_text.smaller {
      color: white !important;
    }

    .service_list_item {
      border-bottom: 1px solid white;
    }

    .q-btn.book_service {
      color: white;
      font-size: 11px;
      transition: all 0.5s ease-in-out;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.q-card.modal {
  border-radius: 30px;
  background: #111;
  max-width: 856px;
  // width: 0%;
}

@media (max-width: 1050px) {
  // typography

  .nav_link {
    font-size: 12px;
  }

  .logo {
    font-size: 20px;
  }

  .maintext {
    font-size: 25px;
  }

  .card_details .maintext {
    font-size: 15px;
  }

  .subtext {
    font-size: 16px;
  }
  address {
    font-size: 16px;
  }

  .card_small_text.location {
    font-size: 11px;
  }
  .section_small_text {
    font-size: 16px;
  }
  .section_subtext {
    font-size: 16px;
  }

  .section_paragraph {
    font-size: 16px;
  }
  .card_small_text.view_small {
    font-size: 11px;
  }

  .small_text {
    font-size: 15px;
  }
  .small_text.smaller {
    font-size: 13px;
  }

  .hero_main {
    font-size: 35px;
  }

  .invest {
    font-size: 16px;
  }
}

// footer
footer {
  background: black;
}
.footer_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
  max-width: 1100px;
  margin: 0 auto;
}
.footer_main {
  color: #fff;
  font-family: "customBold", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.terms {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 172.4%; /* 20.688px */
}

.links {
  ul {
    li {
      margin: 0.7rem 0;
    }
  }
}

@media (max-width: 900px) {
  .footer_grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width: 1100px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .footer_main {
    font-size: 20px;
  }

  .row {
    flex-wrap: wrap;
  }
  section {
    padding: 50px 0 20px;
  }

  .header nav .row {
    gap: 0.5rem !important;

    .q-btn {
      font-size: 14px;
      padding: 0.3rem 0.5rem;
    }
  }

  .card p {
    margin: 0.2rem 0;
  }

  .card_details {
    .q-btn {
      height: 40px;
    }
  }

  .grid {
    gap: 1rem;
  }

  .invest {
    flex-wrap: wrap;
  }

  .hero_main {
    font-size: 25px;
  }
  .section_paragraph {
    font-size: 14px;
    line-height: 1.4;
  }
  .invest {
    font-size: 13px;
  }

  .looking_for {
    gap: 1rem !important;
  }
  .hero form {
    gap: 1rem;
  }

  .service_list {
    max-width: 100%;
  }
  .small_text.smaller {
    font-size: 11px;
  }
  .q-btn.book_service {
    font-size: 13px;
  }

  .q-page-container.padd {
    padding-top: 3rem;
  }
  .maintext {
    font-size: 20px;
  }
  .switch .q-btn,
  form .q-btn {
    font-size: 12px;
  }
  .modal .input_wrap {
    padding: 0.5rem;
  }

  ::placeholder {
    font-size: 10px;
  }
}
